{%- assign author = post.data.author -%}
{%- assign author = authors[author] -%}
<article itemscope itemtype='http://schema.org/Article'>
  <div class='cell-left'>
    <span class='post-category'>
      <span class='label'>
        {{- post.data.category -}}
      </span>
    </span>
  </div>
  <div class='cell-right'>
    <div class='post-meta'>
      <h2 class='post-title' itemprop='headline'>
        <a href='{{ post.url }}' itemprop='url'>
          {{- post.data.title -}}
        </a>
      </h2>
      <span
        class='post-date'
        itemprop='datePublished'
        content='{{ post.date | date: '%Y-%m-%d' }}'
      >
        {{- post.date | date_to_string -}}
      </span>
      <a
        href='{{ author.url }}'
        class='post-author'
        itemprop='author'
        itemscope
        itemtype='http://schema.org/Person'
      >
        <img
          class='avatar avatar-small'
          src='{{ author.avatar }}'
          alt='{{ author.alias }}'
          width='24'
          height='24'

        ><span class='author-name' itemprop='name'>{{ author.name }}</span>
      </a>
    </div>
  </div>
</article>
