---
layout: default
permalink: "/news/{{ page.date | date: '%Y/%m/%d' }}/{{ page.fileSlug }}/"
body_classes:
  - news-item
---
{%- assign author = authors[author] -%}
<main class='flex-shrink-0'>
  <div class='container'>
    <article itemscope itemtype='http://schema.org/Article'>
      <h1 class='post-title mt-5 mb-4' itemprop='headline'>
        {{- title -}}
      </h1>
      <span class='post-category'>
        <span class='label'>
          {{- category -}}
        </span>
      </span>
      <div class='post-meta'>
        <span
          class='post-date'
          itemprop='datePublished'
          content='{{ page.date | date: "%Y-%m-%d" }}'
        >
          {{- page.date | date_to_string -}}
        </span>
        <a
          href='{{ author.url }}'
          class='post-author'
          itemprop='author'
          itemscope
          itemtype='http://schema.org/Person'
        >
          <img
            class='avatar avatar-small'
            src='{{ author.avatar }}'
            alt='{{ author.alias }}'
            width='24'
            height='24'

          ><span class='author-name' itemprop='name'>{{ author.name }}</span>
        </a>
      </div>
      <div class='post-content' itemprop='articleBody'>
        {{ content }}
      </div>
    </article>
  </div>
</main>
{%- assign prev_post = collections.posts | getPreviousCollectionItem -%}
{%- assign next_post = collections.posts | getNextCollectionItem -%}
<nav class='single-post-pager'>
  {% if prev_post %}
    <a class='pager-link newer-post' href='{{ prev_post.url }}'>
      <span class='pager-direction'>Newer</span>
      <span class='pager-title'>{{- prev_post.data.title -}}</span>
      <span class='pager-date'>{{- prev_post.date | date_to_string -}}</span>
      <span class='pager-chevron'>&#8249;</span>
    </a>
  {% endif %}
  {% if next_post %}
    <a class='pager-link older-post' href='{{ next_post.url }} '>
      <span class='pager-direction'>Older</span>
      <span class='pager-title'>{{- next_post.data.title -}}</span>
      <span class='pager-date'>{{- next_post.date | date_to_string -}}</span>
      <span class='pager-chevron'>&#8250;</span>
    </a>
  {% endif %}
</nav>
